In [19]:
import pandas as pd
import math

In [2]:
data = pd.read_csv("salary.csv")

In [3]:
data.head()

   Occupation  Gender  Age  Salary
0           1       0    3       3
1           1       1    1       1
2           1       1    2       2
3           2       1    1       3
4           2       0    2       4

In [122]:
def calculateEntropy(attribute,data):
    size = data.shape[0]
    x = data[attribute].unique()
    h = 0
    for i in range(len(x)):

        temp2 = data[data[attribute]== x[i]]
        temp = temp2.shape[0]
        #     print(x[i],temp)
        
        log=math.log((temp/size),2)
#         print("log ",log)
        value = -1*(temp/size)*log
        print('[Label', x[i],'] has ',temp," observations out of total ",size," with value of entropy", value)
#         print("and it's belonging entropy is ",value)
        h = h+value
    
    print(attribute,"'s overall Entropy is ", h)
    return h

In [123]:
salary_entropy = calculateEntropy("Salary",data)

[Label 3 ] has  4  observations out of total  11  with value of entropy 0.530702406777199
[Label 1 ] has  2  observations out of total  11  with value of entropy 0.44716938520678134
[Label 2 ] has  3  observations out of total  11  with value of entropy 0.5112188503407658
[Label 4 ] has  2  observations out of total  11  with value of entropy 0.44716938520678134
Salary 's overall Entropy is  1.9362600275315274

In [178]:
def calculate_Entropy_attribute(attribute,target,data):
    size = data.shape[0]
#     print('size',size)
    x = data[attribute].unique()
    y = data[target].unique()
    overall_entropy = 0
    for i in range(len(x)):
        
        temp2 = data[data[attribute]== x[i]] #calculate lable
        temp = temp2.shape[0] #label size
        h=0
        for j in range(len(y)):
            
            label_to_target = temp2[temp2[target]==y[j]]
            label_to_target_size = label_to_target.shape[0]
#             print(label_to_target_size)
            if (label_to_target_size == 0):
                value = 0
            else:
                log=math.log((label_to_target_size/temp2.shape[0]),2)
#         print("log ",log)
                value = -1*((label_to_target_size/temp2.shape[0]))*log
            print(attribute,'[Label', x[i],'] has total',temp,"rows and",label_to_target_size,"observation for", target," label",y[j]," with value of entropy", value)
#         print("and it's belonging entropy is ",value)
            h = h+value
        print("h ",h)
        print("proportion weight is ",temp/size)
        h_weight = (temp/size)*h
        print("h*proportion weight",h_weight)
        print("\n")
        overall_entropy = overall_entropy+h_weight
    print("\n")
    print(attribute,"'s overall Entropy is ", overall_entropy)
    return overall_entropy

In [179]:
gender_entropy=calculate_Entropy_attribute("Gender","Salary",data)

Gender [Label 0 ] has total 5 rows and 2 observation for Salary  label 3  with value of entropy 0.5287712379549449
Gender [Label 0 ] has total 5 rows and 0 observation for Salary  label 1  with value of entropy 0
Gender [Label 0 ] has total 5 rows and 1 observation for Salary  label 2  with value of entropy 0.46438561897747244
Gender [Label 0 ] has total 5 rows and 2 observation for Salary  label 4  with value of entropy 0.5287712379549449
h  1.5219280948873621
proportion weight is  0.45454545454545453
h*proportion weight 0.6917854976760737


Gender [Label 1 ] has total 6 rows and 2 observation for Salary  label 3  with value of entropy 0.5283208335737187
Gender [Label 1 ] has total 6 rows and 2 observation for Salary  label 1  with value of entropy 0.5283208335737187
Gender [Label 1 ] has total 6 rows and 2 observation for Salary  label 2  with value of entropy 0.5283208335737187
Gender [Label 1 ] has total 6 rows and 0 observation for Salary  label 4  with value of entropy 0
h  1.584962500721156
proportion weight is  0.5454545454545454
h*proportion weight 0.8645250003933578




Gender 's overall Entropy is  1.5563104980694313

In [176]:
age_entropy=calculate_Entropy_attribute("Age","Salary",data)

Age [Label 3 ] has total 3 rows and 2 observation for Salary  label 3  with value of entropy 0.38997500048077083
Age [Label 3 ] has total 3 rows and 0 observation for Salary  label 1  with value of entropy 0
Age [Label 3 ] has total 3 rows and 0 observation for Salary  label 2  with value of entropy 0
Age [Label 3 ] has total 3 rows and 1 observation for Salary  label 4  with value of entropy 0.5283208335737187
h  0.9182958340544896
proportion weight is  0.2727272727272727
h*proportion weight 0.2504443183784971
Age [Label 1 ] has total 3 rows and 1 observation for Salary  label 3  with value of entropy 0.5283208335737187
Age [Label 1 ] has total 3 rows and 2 observation for Salary  label 1  with value of entropy 0.38997500048077083
Age [Label 1 ] has total 3 rows and 0 observation for Salary  label 2  with value of entropy 0
Age [Label 1 ] has total 3 rows and 0 observation for Salary  label 4  with value of entropy 0
h  0.9182958340544896
proportion weight is  0.2727272727272727
h*proportion weight 0.2504443183784971
Age [Label 2 ] has total 4 rows and 1 observation for Salary  label 3  with value of entropy 0.5
Age [Label 2 ] has total 4 rows and 0 observation for Salary  label 1  with value of entropy 0
Age [Label 2 ] has total 4 rows and 2 observation for Salary  label 2  with value of entropy 0.5
Age [Label 2 ] has total 4 rows and 1 observation for Salary  label 4  with value of entropy 0.5
h  1.5
proportion weight is  0.36363636363636365
h*proportion weight 0.5454545454545454
Age [Label 4 ] has total 1 rows and 0 observation for Salary  label 3  with value of entropy 0
Age [Label 4 ] has total 1 rows and 0 observation for Salary  label 1  with value of entropy 0
Age [Label 4 ] has total 1 rows and 1 observation for Salary  label 2  with value of entropy -0.0
Age [Label 4 ] has total 1 rows and 0 observation for Salary  label 4  with value of entropy 0
h  0.0
proportion weight is  0.09090909090909091
h*proportion weight 0.0


Age 's overall Entropy is  1.0463431822115397

In [177]:
occupation_entropy = calculate_Entropy_attribute("Occupation","Salary",data)

Occupation [Label 1 ] has total 3 rows and 1 observation for Salary  label 3  with value of entropy 0.5283208335737187
Occupation [Label 1 ] has total 3 rows and 1 observation for Salary  label 1  with value of entropy 0.5283208335737187
Occupation [Label 1 ] has total 3 rows and 1 observation for Salary  label 2  with value of entropy 0.5283208335737187
Occupation [Label 1 ] has total 3 rows and 0 observation for Salary  label 4  with value of entropy 0
h  1.584962500721156
proportion weight is  0.2727272727272727
h*proportion weight 0.4322625001966789
Occupation [Label 2 ] has total 4 rows and 2 observation for Salary  label 3  with value of entropy 0.5
Occupation [Label 2 ] has total 4 rows and 0 observation for Salary  label 1  with value of entropy 0
Occupation [Label 2 ] has total 4 rows and 0 observation for Salary  label 2  with value of entropy 0
Occupation [Label 2 ] has total 4 rows and 2 observation for Salary  label 4  with value of entropy 0.5
h  1.0
proportion weight is  0.36363636363636365
h*proportion weight 0.36363636363636365
Occupation [Label 3 ] has total 2 rows and 1 observation for Salary  label 3  with value of entropy 0.5
Occupation [Label 3 ] has total 2 rows and 0 observation for Salary  label 1  with value of entropy 0
Occupation [Label 3 ] has total 2 rows and 1 observation for Salary  label 2  with value of entropy 0.5
Occupation [Label 3 ] has total 2 rows and 0 observation for Salary  label 4  with value of entropy 0
h  1.0
proportion weight is  0.18181818181818182
h*proportion weight 0.18181818181818182
Occupation [Label 4 ] has total 2 rows and 0 observation for Salary  label 3  with value of entropy 0
Occupation [Label 4 ] has total 2 rows and 1 observation for Salary  label 1  with value of entropy 0.5
Occupation [Label 4 ] has total 2 rows and 1 observation for Salary  label 2  with value of entropy 0.5
Occupation [Label 4 ] has total 2 rows and 0 observation for Salary  label 4  with value of entropy 0
h  1.0
proportion weight is  0.18181818181818182
h*proportion weight 0.18181818181818182


Occupation 's overall Entropy is  1.1595352274694062